@mixin check($size: 50px) {
  width: $size;
  height: $size;
  border-radius: $size * 0.5;

  i {
    color: white;
    font-size: $size * 0.5;
  }
}

.check-blue {
  @include check;
  background-color: #1EA0F3;
}

.check-official {
  @include check;
  background-color: #D6D9DB;
}
