{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" pattern="^[a-zA-Z0-9_-]+$.{8,20}" placeholder="Username" required title="Must only contain alphanumeric characters/underscores/hyphens and have a length of 3-16 characters." type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,20}" placeholder="Password" required title="Must contain at least one number, one uppercase letter, one lowercase letter, one special character, and have a length of 8-20 characters." type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password-confirm" name="password-confirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,20}" placeholder="Confirm password" required title="Must contain at least one number, one uppercase letter, one lowercase letter, one special character, and have a length of 8-20 characters." type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}