body {
    background-color: #121212;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 5rem;
    text-align: left;
}

button:hover {
    background-color: #B0B3B8;
}

button[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    margin: auto;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

div {
    margin-top: 1rem;
}

div[class="form"] {
    width: 50%;
    margin: auto;
}

div[class="submit"] {
    padding: 2rem;
    text-align: center;
}

.header {
    background-color: #121212;
    color: #fff;
    margin-bottom: 0rem;
    padding: 2rem 1rem;
    text-align: center;
}

h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    text-align: center;
}

h2 {
    color: #fff;
    font-family: 'Montserrat', serif;
    text-align: center;
    margin: 2rem;
}

h3 {
    color: #fff;
    text-align: center;
}


input[type="text"] {
    line-height: 1.8;
    width: 25%;
}

input[type="text"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

li[class='nav-item']:hover {
    background-color: #B0B3B8;
}

